<header>
        <div class="wrapper">
                <div class="top-header">
                        <div class="header-phone">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <p class="header-phone-text">Questions? Call us 0 111 123 45 67</p>
                        </div>
                        <div>
                                <ul class="top-menu">
                                        <li class="top-nav-item" *ngIf="!currentUser"><a href="/login">Login</a></li>
                                        <li class="top-nav-item" *ngIf="currentUser" (click)="logout()"><a href="">Logout</a></li>
                                        <li class="top-nav-item dropdown">
                                                <a class="nav-itm dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                                    
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-header" role="menu" *ngIf="currentUser">
                                                        <li><a>Welcome <strong>{{currentUser.CustomerName}}</strong></a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#" class="nav-itm">Profile</a></li>
                                                        <li><a href="surveys" class="nav-itm">My Surveys</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="/Account/LogOff">Log off</a></li>
                                                </ul>
                                                <ul class="dropdown-menu dropdown-menu-header" role="menu" *ngIf="!currentUser">
                                                        <li><a href="/login" class="nav-itm">Login</a></li>
                                                        <li><a href="/register">Register</a></li>
                                                </ul>
                                        </li>
                                </ul>
                        </div>
                </div>
                <div class="main-header">
                        <div class="site-logo">
                            <a href="/">
                                <img src="assets\img\logo.png" alt="logo" class="img-logo" />
                            </a>
                        </div>
                </div>
        </div>
</header>