<app-banner></app-banner>
<div>
    <div class="wrapper info-block">
        <h2 style="text-align: center">Sophisticated research made simple</h2>
        <div class="image-set">
            <div class="home-create">
                <img src="assets/img/create_home_icon.png" alt="create surevy">
                <p>Create surveys</p>
            </div>
            <div class="arrow-right"></div>
            <div class="home-collect">
                <img src="assets/img/collect_home_icon.png" alt="collect responses">
                <p>Collect responses</p>
            </div>
            <div class="arrow-right"></div>
            <div class="home-analyze">
                <img src="assets/img/analyze_home_icon.png" alt="analyse result">
                <p>Analyse results</p>
            </div>
        </div>
    </div>
</div>