<div class="wrapper">
        <div class="register-page">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <legend>Registration</legend>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="CustomerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CustomerName.errors }" />
                    <div *ngIf="submitted && f.CustomerName.errors" class="invalid-feedback">
                        <div *ngIf="f.CustomerName.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" formControlName="CustomerEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CustomerEmail.errors }" />
                    <div *ngIf="submitted && f.CustomerEmail.errors" class="invalid-feedback">
                        <div *ngIf="f.CustomerEmail.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="CustomerPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CustomerPassword.errors }" />
                    <div *ngIf="submitted && f.CustomerPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.CustomerPassword.errors.required">Password is required</div>
                        <div *ngIf="f.CustomerPassword.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                    <span class="login-on-register-page">
                        <span>Already register?</span><a href="/login">Login</a>
                    </span>
                </div>
            </form>
    </div>
</div>