<footer class="jumbotron">
    <div class="wrapper">
        <div class="top-footer">
            <div class="footer-menu">
                <ul>
                    <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="~/faq">FAQ</a>
                    </li>
                    <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="/howit">Help</a>
                    </li>
                    <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="/feedback">Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="social-links">
                <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="Copyright">
                <p>&copy; {{year}} {{title}}</p>
            </div>
        </div>
    </div>
</footer>